body {
    background-color: #2E2E2E; /* Altera a cor de fundo */
    font-family: Montserrat;
    color: #EBEBEB;
}

.link-com-borda{
    color: #2E2E2E;
    text-decoration: none; /* Remover sublinhado padrão */
    border: 2px solid #2E2E2E; /* Define a largura, o estilo e a cor da borda */
    border-radius: 10px; /* Define o raio da borda, tornando-a arredondada */
    padding: 10px; /* Adiciona um preenchimento interno para separar o texto da borda */
    text-align: center;
}

.titulo {
    margin-top: 5%; /* Adiciona um espaçamento superior*/
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

form{
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
}


input{
    font-family: Montserrat;
    font-size: 20px;
}

.botao-margem-direita{
    margin-right: 10px;
}

button{
    
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #EBEBEB; /* Define a largura, o estilo e a cor da borda */
    border-radius: 10px; /* Define o raio da borda, tornando-a arredondada */
    background-color: #2E2E2E;
    color: #EBEBEB;
    padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #EBEBEB;
    padding: 20px 0; /* Ajusta o espaçamento superior e inferior */
    font-size: 20px;
    font-weight: bold;
    height: 40px; /* Define a altura da barra de navegação como 40 pixels */
    line-height: 40px; /* Alinha verticalmente o texto dentro da barra de navegação */
}

.radio{
    width: 20px; /* Largura do botão de rádio */
    height: 20px; /* Altura do botão de rádio */
}
